<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button color="danger" ion-button icon menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{category.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item button *ngFor="let cate of categoryList">
            <ion-thumbnail item-left>
                <img [src]="cate?.picture">
            </ion-thumbnail>
            <h3>{{cate?.name}}</h3>
            <!-- <p>{{(Math.floor(Math.random() * 10))}}</p> -->
            <button (click)="itemClicked(cate)" ion-button item-right clear icon>
                    <ion-icon name="arrow-forward"></ion-icon>
                     </button>
        </ion-item>
    </ion-list>
</ion-content>