<ion-header>

    <ion-navbar>
        <ion-title>Your Cart</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list *ngFor="let item of cartItems; let i = index">
        <ion-item color="light">
            <ion-thumbnail item-left>
                <img [src]="item.product.picture" style="width: 60px !important; height: 60px !important;" />
            </ion-thumbnail>
            <h2>{{ item.product.name }}</h2>
            <h3 text-right>Price: {{ item.price }}</h3>
            <p center><span>Qty: </span> {{item.qty}}</p>
        </ion-item>
        <ion-item class="compact">
            <ion-row no-padding>
                <ion-col col-8>
                    <button [disabled]="!item.qty" ion-button icon-only clear color="danger" (click)="changeQty(item, i, -1)">
                          <ion-icon name="remove-circle"></ion-icon>
                        </button>
                    <button ion-button clear color="danger"> {{ item.qty }} </button>
                    <button ion-button icon-only clear color="danger" (click)="changeQty(item, i, 1)">
                          <ion-icon name="add-circle"></ion-icon>
                        </button>
                </ion-col>
                <ion-col col-4 style="text-align: right;">
                    <button ion-button small outline (click)="removeFromCart(item, i)" color="danger" style="width: 64px;">Remove</button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-grid>
        <ion-card>
            <ion-grid>
                <ion-row>
                    <ion-col col-2>

                    </ion-col>
                    <ion-col col-4>
                        <b>TOTAL</b>
                    </ion-col>
                    <ion-col col-3>

                    </ion-col>
                    <ion-col col-3 style="text-align: right">
                        <b> {{ total }} </b>
                    </ion-col>


                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button ion-button color="danger" outline block (click)="closeModal()">Back</button>
                </ion-col>
                <ion-col>
                    <button ion-button color="danger" block (click)="checkout()">Checkout</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>