<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar (search)="onSearch($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-card>
        <ion-slides autoplay="500" pager>
            <ion-slide *ngFor="let l of [1,2,3,4]">
                <img src="./assets/images/{{l}}.jpg">
            </ion-slide>
        </ion-slides>
    </ion-card>
    <img style="margin-top: 30px" src="./assets/images/banner2.jpg">
    <ion-grid>
        <ion-row>
            <ion-slides #prodSlides>
                <ion-slide *ngFor="let prod of finalProducts">
                    <ion-card no-padding>
                        <img padding center [src]="prod?.picture">
                        <h2 padding center>{{prod?.name}}</h2>
                        <p>{{prod?.description.substr(0,20) }}</p>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </ion-row>
    </ion-grid>
    <ion-item-divider color="divider">Products</ion-item-divider>
    <ion-list>
        <ion-item button *ngFor="let prod of products" (click)="openProductPage(prod)">
            <ion-thumbnail item-left>
                <img [src]="prod?.picture">
            </ion-thumbnail>
            <h3>{{prod?.name}}</h3>
            <p>{{prod?.description}}</p>
            <button (click)="itemClicked(prod)" ion-button item-right clear icon>
            <ion-icon name="arrow-forward"></ion-icon>
             </button>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMoreProd($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>