<ion-header>

    <ion-navbar>
        <ion-title>Customer Sign Up</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list center>
        <ion-item-divider color="danger">Personal Information</ion-item-divider>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input ngModel name="email" type="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input ngModel name="password" type="password" required></ion-input>
            </ion-item>
            <ion-row text-center>
                <ion-col>
                    <button type="submit" ion-button outline color="secondary">Sign Up</button>
                </ion-col>
            </ion-row>
        </form>
    </ion-list>
</ion-content>