<ion-header>

    <ion-navbar>
        <ion-title>Customer Sign Up</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list center>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <ion-item-divider color="danger">Personal Information</ion-item-divider>
            <ion-item>
                <ion-label floating>Full Name</ion-label>
                <ion-input ngModel name="fullname" type="text" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input ngModel name="email" type="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input ngModel name="username" type="text" required></ion-input>
            </ion-item>
            <ion-item-divider color="danger">Billing Information</ion-item-divider>
            <ion-item>
                <ion-label floating>Address</ion-label>
                <ion-input ngModel name="address" type="text" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Phone</ion-label>
                <ion-input ngModel name="phone" type="number" required></ion-input>
            </ion-item>
            <ion-item-divider color="danger">Payment Method</ion-item-divider>
            <ion-item>
                <ion-label>Payment Method</ion-label>
                <ion-select ngModel name="payment" required>
                    <ion-option *ngFor="let p of paymentMethods" value="{{p.method_id}}">{{ p.method_title }}</ion-option>
                </ion-select>
            </ion-item>

            <ion-row text-center>
                <ion-footer>
                    <button [disabled]="!f.valid" ion-button block color="danger" type="submit">Place Order</button>
                </ion-footer>
            </ion-row>
        </form>
    </ion-list>
</ion-content>