<ion-header>

    <ion-navbar>
        <ion-title>Search : {{ searchQuery }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let product of newArr" text-wrap>
            <ion-thumbnail item-left>
                <img [src]="product.picture" />
            </ion-thumbnail>
            <h2> {{ product.name }} </h2>
            <p>
                <span [innerHTML]="product.description.substr(0, 30) + '...'"></span>
            </p>
        </ion-item>
    </ion-list>
</ion-content>