<ion-header>

    <ion-navbar>
        <ion-title start>{{product?.name}}</ion-title>
        <ion-fab right edge middle (click)="openCart()">
            <button ion-fab color="danger">
                <ion-icon name="cart"></ion-icon>
            </button>
        </ion-fab>
        <!-- <ion-chip center color="danger">
            <ion-icon name="cart"></ion-icon>
        </ion-chip> -->
    </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-card>
        <img style="width: 100% !important;" [src]="product?.picture" />
        <ion-card-content>
            <ion-card-title>{{product?.description.substr(0,20)}}
                <ion-chip style="margin-left:5px;" color="danger">{{product?.name.split(' ')[0]}}</ion-chip>
            </ion-card-title>
            <button ion-button icon-left block outline color="danger" (click)="addToCart(product)">
                <ion-icon name="basket"></ion-icon> Add to Cart
            </button>
            <button ion-button icon-left block outline color="danger" (click)="clearStorage()">
                    <ion-icon name="basket"></ion-icon> Clear Storage
                </button>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-title>
                Reviews
            </ion-card-title>

            <ion-grid>
                <ion-row *ngFor="let review of product?.reviews">
                    <ion-col col-4>
                        <b>{{ review?.name }}</b><br/>
                        <span *ngIf="review?.stars >= 1">
                    <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                  </span>
                        <span *ngIf="review?.stars >= 2">
                    <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                  </span>
                        <span *ngIf="review?.stars >= 3">
                    <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                  </span>
                        <span *ngIf="review?.stars >= 4">
                    <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                  </span>
                        <span *ngIf="review?.stars >= 5">
                    <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                  </span>

                    </ion-col>
                    <ion-col col-8>
                        {{ review?.review }}
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>