<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="card-background-page">
        <ion-card>
            <img src="./assets/images/rock.png" />
            <div class="card-title">AbhiONIC</div>
            <div class="card-subtitle">Keep Shopping</div>
        </ion-card>
        <ion-list>
            <ion-item *ngFor="let cate of finalCate" (click)="itemClicked(cate)">
                <ion-thumbnail item-left>
                    <img [src]="cate.picture">
                </ion-thumbnail>
                <h3 item-center>{{cate.name}}</h3>
            </ion-item>
            <ion-item-divider color="danger">Account</ion-item-divider>
            <ion-item *ngIf="!token" (click)="openPage('signUp')" menuClose>
                <ion-icon name="md-clipboard" item-left></ion-icon>
                <h2>Sign Up</h2>
            </ion-item>

            <ion-item *ngIf="token" (click)="openPage('cart')" menuClose>
                <ion-icon name="md-clipboard" item-left></ion-icon>
                <h2>My Cart</h2>
            </ion-item>
            <ion-item *ngIf="token" menuClose>
                <ion-icon name="md-clipboard" item-left></ion-icon>
                <h2>Welcome {{user.split('@')[0] | uppercase}}</h2>
            </ion-item>


            <ion-item *ngIf="!token" (click)="openPage('signIn')" menuClose>
                <ion-icon name="log-in" item-left></ion-icon>
                <h2>Sign In</h2>
            </ion-item>
            <ion-item *ngIf="token" (click)="logout()" menuClose>
                <ion-icon name="log-out" item-left></ion-icon>
                <h2>Logout</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="homePage" #content></ion-nav>